@import '~antd/dist/antd.css';

.ant-col.ant-col-8 {
  max-width: 15rem;
  transition: 0.4s;
}

.ant-col.ant-col-8:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: move;
  /* cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; */
}

/* .ant-col.ant-col-8:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
} */

.ant-row {
  justify-content: center;
}

.ant-card-cover > img {
  margin: 0 auto;
  width: 50%;
  max-height: 100px;
  max-width: 100px;
}

.title {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: #232129;
}
