@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #232129;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-size: 16px;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

.ant-col.ant-col-8 {
  transition: 0.4s;
}

.ant-col.ant-col-8:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
