@import '~antd/dist/antd.css';

.ant-layout {
  text-align: center;
}

.ant-layout-header {
  background: #232129;
  text-align: center;
  padding: 2rem;
  height: auto;
}

.ant-layout-header  > h1 {
  color: #fff;
  font-size: 26px;
}

.ant-layout-content {
  margin-top: 30px;
}

.ant-layout.ant-layout-has-sider > .ant-layout, 
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow-x: unset;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.ant-input {
  width: 40%;
  margin: 0 10px;
}

.ant-pagination {
  text-align: center;
}

svg {
  color: #232129;
}

svg:hover {
  color: #1890ff;
}

.ant-pagination-item-active {
  background: none;
  color: #232129;
}

.ant-pagination-total-text {
  color: #232129;
}

.error {
  color: #c53030;
  margin-top: 8px;
}