@import '~antd/dist/antd.css';

.artist {
  background: #f0f0f0;
}

.artist > h4 {
  margin-top: 30px;
}

.artist > img {
  width: 300px;
  margin-bottom: 30px;
}

.artistImg {
  transition: .5s ease;
  backface-visibility: hidden;
  max-width: 400px;
}

.artistContainer:hover .image {
  opacity: 0.2;
}

.artistContainer:hover .middle {
  opacity: 1;
}