@import '~antd/dist/antd.css';

.ant-layout-sider {
  background: #fff;
}

#collectionId > h4 {
  margin: 20px 0;
}

.collectionImg {
  max-width: 80px;
}

.collections > .ant-card > .ant-card-body {
  padding: 10px;
}