@import '~antd/dist/antd.css';

.ant-layout-sider {
  background: #fff;
}

#collectionId > h4 {
  margin: 20px 0;
}

#collectionId > .ant-col.ant-col-8 {
  transition: none;
}

#collectionId > .ant-col.ant-col-8:hover {
  transform: none;
}

.collection {
  max-width: 50%;
  margin-left: 25%;
}